*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html{
   font-size: 10px;
}

body{
   font-size: 1.7rem;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   background-color: white;
   color: black;
   line-height: 1.6em;
}

button{
   outline: none;
}
.Container{
   width: 75%;
   max-width: 1280px;
   margin: auto;
}

li{
   list-style: none;
}

a{
   color: white;
}

a:hover{
   text-decoration: none;
   color: white;
}

header{
   background-color: #f57c5a;
   color: white;
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   z-index: 15;
}

.header{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
   height: 8vh;
}

.header h2{
   font-weight: lighter;
   font-size: 2.5rem;
}

.header li{
   display: inline-block;
   margin-right: 1.6rem;
   font-size: 1.3rem;
   font-weight: lighter;
   transition: all 0.3s ease;
}

.header li a{
   display: inline-block;
}

.header a:hover{
   color: #333;
}

#gallery{
   padding-top: 2.4rem;
   transition: all 0.1s ease;
}

#gallery img:hover{
   border: 1px solid #f56d47;
   opacity: 0.9;
}

.gallery-title h1{
   color: #333;
   text-align: center;
   margin-bottom: 1.3rem;
   font-size: 2.7rem;
}

.gallery-title span{
   color: #f56d47
}

.more-photos{
   display: flex;
   justify-content: center;
   align-items: center;
   /* margin-left: 40%; */
   margin-top: 2.5rem;
   background-color: #f56d47;
   padding: 1rem 2.7rem;
   border: none;
   color: white;
   font-weight: lighter;
   font-size: 13px;
   transition: all 0.5s ease;
   outline: none;
}

.more-photos:hover{
   background-color: #ec876a;
}



footer{
   background-color: #ec8062;
   padding: 4rem;
}

footer p{
   text-align: center;
   color: white;
   font-weight: lighter;
}




@media(max-width: 880px){
   .header li{
      display: none;
   }
   .header h2{
      margin-left: 25vw;
   }
   .carousel-img{
      height: 55vh;
      width: 100%;
   }
   .carousel-text{
      display: none;
   }
}

@media(max-width:780px){
   .gallery img{
      display: block;
      width: 100%;
   }
}

